<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Spectra -->
      <package
            uri="http://smlab.cs.tau.ac.il/syntech/Spectra"
            class="spectra.SpectraPackage"
            genModel="model/Spectra.genmodel"/>
   </extension>

</plugin>
