<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ATLnoOCL -->
      <package
            uri="http://www.eclipse.org/gmt/2005/ATLnoOCL"
            class="ATLnoOCL.ATLnoOCLPackage"
            genModel="model/ATLnoOCL.genmodel"/>
   </extension>

</plugin>
