<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated MyDot -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="dot.presentation.DotModelWizardID"
            name="%_UI_DotModelWizard_label"
            class="dot.presentation.DotModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DotModelFile.gif">
         <description>%_UI_DotModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated MyDot -->
      <editor
            id="dot.presentation.DotEditorID"
            name="%_UI_DotEditor_label"
            icon="icons/full/obj16/DotModelFile.gif"
            extensions="dot"
            class="dot.presentation.DotEditor"
            contributorClass="dot.presentation.DotActionBarContributor">
      </editor>
   </extension>

</plugin>
