<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated QVTOperational -->
      <package
            uri="http://www.omg.org/spec/QVT/20151201/QVTOperational"
            class="QVTOperational.QVTOperationalPackage"
            genModel="model/QVTOperational.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated QVTOperational -->
      <package
            uri="http://www.omg.org/spec/QVT/20151201/EMOF"
            class="EMOF.EMOFPackage"
            genModel="model/QVTOperational.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated QVTOperational -->
      <package
            uri="http://www.omg.org/spec/QVT/20151201/PrimitiveTypes"
            class="PrimitiveTypes.PrimitiveTypesPackage"
            genModel="model/QVTOperational.genmodel"/>
   </extension>

</plugin>
