<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated qvtoperational -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="qvtoperational.presentation.QvtoperationalModelWizardID"
            name="%_UI_QvtoperationalModelWizard_label"
            class="qvtoperational.presentation.QvtoperationalModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/QvtoperationalModelFile.gif">
         <description>%_UI_QvtoperationalModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated qvtoperational -->
      <editor
            id="qvtoperational.presentation.QvtoperationalEditorID"
            name="%_UI_QvtoperationalEditor_label"
            icon="icons/full/obj16/QvtoperationalModelFile.gif"
            extensions="qvtoperational"
            class="qvtoperational.presentation.QvtoperationalEditor"
            contributorClass="qvtoperational.presentation.QvtoperationalActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated qvtoperational -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="emof.presentation.EmofModelWizardID"
            name="%_UI_EmofModelWizard_label"
            class="emof.presentation.EmofModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EmofModelFile.gif">
         <description>%_UI_EmofModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated qvtoperational -->
      <editor
            id="emof.presentation.EmofEditorID"
            name="%_UI_EmofEditor_label"
            icon="icons/full/obj16/EmofModelFile.gif"
            extensions="emof"
            class="emof.presentation.EmofEditor"
            contributorClass="emof.presentation.EmofActionBarContributor">
      </editor>
   </extension>

</plugin>
